[data-theme="dark"]{
--Background-Body: hsl(235, 21%, 11%);
--Background-Containers: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
--Text-Color: hsl(255,100%,100%);
--Bright-Blue: hsl(220, 98%, 61%);
}
[data-theme="light"]{
    --Background-Body: hsl(0, 0%, 98%);
    --Background-Containers: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Text-Color: hsl(255, 0%, 0%);
    --Bright-Blue: hsl(220, 98%, 61%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme="light"]  body::after{
    background-image: url(./assets/bg-mobile-light.jpg);
}
body {
    background-color: var(--Background-Body);
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    transition: all 300ms;
}
body::after{
    content: '';
    background-image: url(./assets/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
    color: var(--Text-Color);
    font-size: .8rem;
    background-color: var(--Background-Containers);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
    cursor: pointer;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 0rem auto;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}
.jc-between {
    justify-content: space-between;
}
.flex-grow{
    flex-grow: 1;
}
.align-center {
    align-items: center;
}

/* HEADER */
header {
    padding: 2rem 0;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 700;
    color: White;
}
input[type="checkbox"] {
    appearance: none;
}
.input-group label{
    cursor: pointer;
}

/* FORM TASK */
input[type="text"]{
    background-color: var(--Background-Containers);
    height: 50px;
    width: 100%;
    padding-left: 3.5rem;
    border: none;
    outline: none;
    border-radius: .25rem;
    color: var(--Text-Color);
}
.input-group{
    position: relative;
}
.check::after{
    content: '';
    position: absolute;
    transform: translate(.75rem ,-.80rem);
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--Dark-Grayish-Blue);
    border-radius: 100%;
}
::placeholder{
    color: var(--Dark-Grayish-Blue);
    font-size: 1em;
}

/* TASKLIST */
.task-list{
    margin: 2rem auto;
    border-radius: .25rem;
    overflow: hidden;
}
.task-list .flex-grow > *,
.task-list .delete{
    padding: 1rem;
}
.task-list .check::after{
    transform: translate(-.2rem ,-.80rem);
}
.task-list .check{
    flex-basis: 2.5rem;
    position: relative;
}
.task-list li.checked .check::before{
    content: '';
    position: absolute;
    transform: translate(.85rem ,.26rem);
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 1.55rem;
    height: 1.55rem;
    background: linear-gradient(120deg, hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}
.task-list li.checked .check::after{
    content: '';
    background-image: url(./assets/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.task-list span{
    transition: all 100ms;
}
.task-list li.checked span{
    text-decoration: line-through;
    color: var(--Dark-Grayish-Blue);
}
/* FOOTER */
footer p{
    background-size: cover;
    color: var(--Dark-Grayish-Blue);
}

@media (min-width:768px) {
    body{
        margin: 3rem auto;
    }
    html[data-theme="light"]  body::after{
        background-image: url(./assets/bg-desktop-light.jpg);
    }
    body::after{
        background-image: url(./assets/bg-desktop-dark.jpg);
    }
}